body {
 font-size: 11pt;
 font-family: helvetica;
}

table{
	width: 100%;	
}

table, th, td {
  border: 1px solid grey;
  border-collapse: collapse;
  text-align: left;
  line-height: 20px;

}

th, td{
	padding-left: 10px;
	padding-right: 10px;	
}

.error {
	color: lightgray;
	 /*display: none;*/
}

.number {
	text-align: right;
}