{% extends "layout.html" %}
{% block content %}

<script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.load('current', {'packages':['bar']});

    google.charts.setOnLoadCallback(dailyRevenue);

    function dailyRevenue() {
      var data = google.visualization.arrayToDataTable([
        ["Day", "Revenue", { role: "style" } ],

        {% for item in toplistDK %}		  
            ["{{ item[1] }}", {{ item[0] }}, "red"]
            {% if loop.index < toplistDK|length %},{% endif %}
        {% endfor %}

      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "Top 10 days of revenue Denmark",
        height: 400,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
        vAxis: {minValue: 0}
      }
      ;
      var chart = new google.visualization.ColumnChart(document.getElementById("dailyRevenue_div"));
      chart.draw(view, options);
  }

  google.charts.setOnLoadCallback(dailyRevenueSe);

function dailyRevenueSe() {
  var data = google.visualization.arrayToDataTable([
    ["Day", "Revenue", { role: "style" } ],

    {% for item in toplistSE %}		  
        ["{{ item[1] }}", {{ item[0] }}, "blue"]
        {% if loop.index < toplistSE|length %},{% endif %}
    {% endfor %}

  ]);

  var view = new google.visualization.DataView(data);
  view.setColumns([0, 1,
                   { calc: "stringify",
                     sourceColumn: 1,
                     type: "string",
                     role: "annotation" },
                   2]);

  var options = {
    title: "Top 10 days of revenue Sweden",
    height: 400,
    bar: {groupWidth: "95%"},
    legend: { position: "none" },
    vAxis: {minValue: 0}
  }
  ;
  var chart = new google.visualization.ColumnChart(document.getElementById("dailyRevenue_div_se"));
  chart.draw(view, options);
}

google.charts.setOnLoadCallback(dailyRevenueNo);

function dailyRevenueNo() {
  var data = google.visualization.arrayToDataTable([
    ["Day", "Revenue", { role: "style" } ],

    {% for item in toplistNO %}		  
        ["{{ item[1] }}", {{ item[0] }}, "blue"]
        {% if loop.index < toplistNO|length %},{% endif %}
    {% endfor %}

  ]);

  var view = new google.visualization.DataView(data);
  view.setColumns([0, 1,
                   { calc: "stringify",
                     sourceColumn: 1,
                     type: "string",
                     role: "annotation" },
                   2]);

  var options = {
    title: "Top 10 days of revenue Norway",
    height: 400,
    bar: {groupWidth: "95%"},
    legend: { position: "none" },
    vAxis: {minValue: 0}
  }
  ;
  var chart = new google.visualization.ColumnChart(document.getElementById("dailyRevenue_div_no"));
  chart.draw(view, options);
}
  </script>

  <div id="dailyRevenue_div" style="width: 100 %; height: 300px;"></div>

  <div id="dailyRevenue_div_se" style="width: 100 %; height: 300px;">sasa</div>

  <div id="dailyRevenue_div_no" style="width: 100 %; height: 300px;">sasa</div>

{% endblock content %}